/* --------------------------------------- */
/* --------------- GENERAL --------------- */
/* --------------------------------------- */

body {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px ;
	background : #FFFFFF;
	visibility : visible;
}

.topPage {
	margin: 0px;
	padding: 0px;
background: url(Img/fBg.png);
}

.rightPage {
	margin: 20px;
	background: #99B7CC;
}

.leftPage {
	background: #99B7CC;
}

/* --------------------------------------- */
/* -------------- TOP FRAME -------------- */
/* --------------------------------------- */

.title {
	color: #ffffff;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: auto;
	padding-bottom : 0px;
	padding-left : 0pt;
	padding-right : 0px;
	padding-top : 0px ;
	line-height: 54px;
	height : 54px;
	width : 100%;
	background: #99B7CC;
	vertical-align : middle;
	visibility : visible;
}

.title1  {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 20pt;
	font-weight : normal;
	margin: auto;
	padding-left : 10px;
	padding-right : 0px;
	letter-spacing : 3px;
	word-spacing : 6px;
	line-height : 54px;
	display : block;
	float: left;
	vertical-align : middle;
	visibility : visible;
}

.separator1  {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 5pt;
	display : none;
	line-height: 4px;
	height: 4px;
	float: left;
	width: 10pt;
	vertical-align : middle;
	visibility : visible;
	background: #000000;
	position: relative;
	top: 28px;
	left: 6px;
	margin-left: 6px;
	margin-right: 6px;
}

.title2  {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 20pt;
	font-weight : normal;
	padding-bottom : 0px;
	padding-left : 10px;
	padding-right : 0px;
	padding-top : 0px;
	line-height : 54px;
	display : none;
	float: left;
	vertical-align : middle;
	visibility : visible;
}

.separator2 {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 20pt;
	line-height : 54px;
	display : none;
	float: left;
	width: 20pt;
	vertical-align : middle;
	visibility : visible;
}

.titleimage{
	color: #FFFFFF;
	text-align : right;
	padding-right : 10px;
	visibility : visible;
	position: relative;
	top: 6pt;
	line-height: 20px;
}


.topMenu {
margin: 0pt;
padding: 0pt;
display: block;
width: 100%;
line-height: 22px;
background: #000000;
}

.topMenu a  {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
color: white;
padding-left: 6pt;
padding-right: 6pt;
background: #000000;
font-size: 8pt;
text-decoration: none;
display: block;
line-height: 22px;
white-space: nowrap;
height: 22px;
vertical-align: middle;
}

.topMenu a:hover {
background:  #333333;
display: block;
line-height: 22px;
height: 22px;
}

.selected {
color: black;
padding-left: 6pt;
padding-right: 6pt;
margin: 0pt;
font-size: 8pt;
display: block;
line-height: 22px;
background: #FF9933;
white-space: nowrap;
}

/* --------------------------------------- */
/* -------------- LEFT FRAME ------------- */
/* --------------------------------------- */

.bookmark {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
	text-align : left;
	padding-top : 14px;
	width : 100%;
	visibility : visible;
}

.bookmark a {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
	text-align : left;
	text-decoration : none;
	padding-left : 17px;
	padding-right : 2px;
	display : block;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	line-height: 12px;
	height: 12px;
	visibility : visible;
}


.bookmark a:link {}
.bookmark a:visited {}
.bookmark a:active {}
.bookmark a:hover {color: #000000; background: #FF9933;}


/* --------------------------------------- */
/* -------------- MAIN FRAME ------------- */
/* --------------------------------------- */




.caption1 {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 18px;
	font-weight : bold;
	text-align : left;
	text-transform : uppercase;
	padding-left : 4px;
	padding-right : 4px;
	padding-top : 2px;
	padding-bottom : 2px;
	line-height : 22px;
	visibility : visible;
	}
	
.width770 {
width: 770px;
}

	.caption2 {
	color: #ffffff;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-align : left;
	border-bottom : 0px solid #FFFFFF;
	border-left : 10px solid #FF9933;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 20px;
	padding-left : 8px;
	padding-right : 4px;
	padding-top : 4px;
	padding-bottom : 4px;
	line-height : 14px;
	background : #000000;
	visibility : visible;
}

/* MAIN - items with soft-yellow background (table) */

.tabformat {border: 1px solid #CCCCCC;}

.tabhead {
	color: #333333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	text-align : left;
	border: 0pt solid #000000;
	padding-bottom : 3px;
	padding-left : 10px;
	padding-right : 2px;
	padding-top : 3px;
	background : #B8CDDB;
	visibility : visible;
	
}

/* MAIN - items with soft-grey background (table) */

.tabdata {
	color: #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
	text-align : left;
	padding-bottom : 3px;
	padding-left : 10px;
	padding-right : 2px;
	padding-top : 3px;
	background : #B8CDDB;
	visibility : visible;
	
}

/* --------------------------------------- */
/* -------------- LEFT TOP FRAME --------- */
/* --------------------------------------- */

.titleLeft {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: auto;
	padding-bottom : 0px;
	padding-left : 0pt;
	padding-right : 0px;
	padding-top : 0px ;
	line-height: 32px;
	width : 100%;
	background: #FF9933;
	vertical-align : middle;
	visibility : visible;
	color: white;
}

.titleLeft1 {
color: black;
font-size: 12pt;
text-align: center;
padding-top: 6px;
height: 32px;
}

.titleLeft2 {
color: white;
font-size: 10pt;
text-align: center;
display: none;
}

.topLeft {
background: #333333;
height: 100%;
}

.topMenuLeft {

}



.topMenuLeft a  {
color: #999999;
padding-left: 6pt;
padding-right: 6pt;
background: #333333;
font-size: 8pt;
text-decoration: none;
display: block;
border-top: 1px solid #595959;
border-left: 1px solid #595959;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000;
line-height: 20px;
white-space: nowrap;
height: 20px;
vertical-align: middle;
}

.topMenuLeft a:hover {
color: white;
background : url(Img/topBg.png) left top;
}

.selectedLeft {
color: #ffffff;
padding-left: 15px;
font-size: 8pt;
line-height: 20px;
width: 185px;
background : url(Img/topBg.png) left top;
display: block;
vertical-align: middle;
text-decoration: none;
border-top: 1px solid #595959;
border-bottom: 1px solid #000000;
}

.leftPageLeft {
	background: #99B7CC;
}

